/** Container class. */
.shrinkable {
  --background-color: #214280;
  --border-color: rgb(55, 85, 141);
  --color: white;
  --hover-color: rgba(255, 255, 255, 0.9);
  --background-hover-color: rgb(30, 59, 115);

  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--background-color, #214280);
  border-color: var(--border-color, rgb(55, 85, 141));
  border-top-style: solid;
  border-top-width: 1px;
}

@media print {
  .shrinkable {
    display: none;
  }
}

/** Inner container. */
.shrinkable__menu {
  position: relative;
  z-index: 1111;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  background-color: var(--background-color, #214280);
}

/** Direct descendants of the menu / containers of interactive elements. */
.shrinkable__item {
  background-color: var(--background-color, #214280);
}

.shrinkable__menu > .shrinkable__item {
  display: flex;
  flex: 0 1 150px;
  align-items: stretch;
  justify-content: center;
  line-height: 1.3;
}

/** Interactive items. */
.shrinkable__btn {
  padding: 0.25rem 0.75rem;
  color: var(--color, white);
  text-decoration: none;
  background-color: var(--background-color, #214280);
  border-width: 0;
  transition: background-color 0.2s;
}

.shrinkable__btn:focus {
  position: relative;
  z-index: 1111;
}

.shrinkable__btn:hover {
  color: var(--hover-color, rgba(255, 255, 255, 0.9));
  background-color: var(--background-hover-color, rgb(30, 59, 115));
}

.shrinkable__btn svg {
  width: 1.25rem;
  height: 1.25rem;
}

.shrinkable__item > .shrinkable__btn {
  display: block;
  width: 100%;
  padding: 0.666rem 1.125rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

/** Buttons that toggle submenus. */
.shrinkable__submenu-toggler {
  display: block;
  padding: 0.625rem 0.25rem;
  border-width: 0;
}

.shrinkable__submenu-toggler svg {
  width: 1.125rem;
  height: 1.125rem;
  color: var(--color, white);
  transition: transform 0.2s;
}

.shrinkable__has-submenu {
  position: relative;
}

/** Make the link containing a submenu have a smaller bottom padding for aesthetic reasons. */
.shrinkable__has-submenu > a.shrinkable__btn {
  padding-bottom: 0.375rem;
}

/** A submenu. */
.shrinkable__submenu {
  position: absolute;
  top: 2.875rem;
  right: 0.375rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-left: 0;
  margin: 0;
  font-size: 98%;
  list-style: none;
  pointer-events: none;
  visibility: hidden;
  background-color: var(--background-color, #214280);
}

/** Submenus inside submenus are always active so can't be toggled. */
.shrinkable__submenu .shrinkable__submenu-toggler {
  display: none;
}

.shrinkable__submenu .shrinkable__btn {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  text-align: left;
}

.shrinkable__submenu .shrinkable__submenu .shrinkable__btn {
  padding-top: 0.375em;
  padding-bottom: 0.375em;
}

/** Stepped padding for nested submenus. */
.shrinkable__submenu .shrinkable__submenu {
  padding-left: 1rem;
}

.shrinkable__active,
.shrinkable__active .shrinkable__submenu {
  z-index: 4444;
  pointer-events: all;
  visibility: visible;
}

.shrinkable__active .shrinkable__submenu {
  position: static;
}
